#include "resource.h"

IDR_DOCTOR_RULES RCDATA "..\\doctor-valkyrie.txt"
IDR_CRASHINFO_RULES RCDATA "..\\res\\CrashList.txt"
IDR_DOCTOR_RULES_ES RCDATA "..\\res\\doctor-valkyrie.es.txt"
IDR_CRASHINFO_RULES_ES RCDATA "..\\res\\CrashList.es.txt"
